# Dependencies
node_modules/

# Build
build/
dist/

# Environment / secrets
.env
.firebase/
*.local
*.key
*.json

# Logs
*.log
firebase-debug.log
firestore-debug.log
pglite-debug.log

# System files
.DS_Store
Thumbs.dbnode_modules/
build/
dist/
.env
.firebase/
*.log
firebase-debug.log
firestore-debug.log
pglite-debug.log
.DS_Store
